*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* main container */
.main-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* login page container */
.login-page{
    border: 1px solid green;
    height: 80%;
    width: 60%;
    display: flex;
    border-radius: 10px;
}

/*logo container */
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: lightgray;
    /* border-bottom: 1px solid green; */
    border: 1px solid green;
    border-radius: 10px;
}

/* login-container */
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: lightblue;
    border: 1px solid green;
    border-radius: 10px;
}

/* login contents*/

.login-header{
    border: 1px solid green;
    height: 10%;
    width: 80%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: center
}

.welcome-text
{
    border: 1px solid green;
    height: 10%;
    width: 80%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.username-password-container{
    border: 1px solid green;
    height: 40%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.username-password-container form{
    border: 1px solid green;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.input-field{
    border: 1px solid green;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 10px;
}
.input-field input {
    align-self: flex-start;
    width: 100%;
    height: 38%;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.remember-container{
    border: 1px solid green;
    height: 5%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-button{
    border: 1px solid green;
    height: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.login-button button{
    width: 100%;
    height: 70%;
    border: none;
    border-radius: 10px;
    background-color:ccc;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.login-button button h3{
    color: #000000;
    font-size: 16px;
}
.login-button button:hover{
    background-color: #555;
}
.login-button button:active{
    transform: scale(0.98);
    opacity: 0.5;
}
.signup-text{
    border: 1px solid green;    
}